@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

html {
    background: #dedede;
    /*font-family: "Crimson Text", serif;*/
    font-family: "Eczar", serif;
}

#islands {
    text-align: center;
    display: grid;
    gap: 0px 0px;
    grid-template-areas:
    "compass .       .    .    .         .    " 
    ".       .       .    gont .         .    " 
    "selidor .       .    .    .         atuan" 
    "dragons dragons .    .    the-hands .    " 
    ".       .       roke .    .         .    ";
}

.compass { grid-area: compass; text-align: left; }
.roke { grid-area: roke; }
.selidor { grid-area: selidor; }
.gont { grid-area: gont; }
.atuan { grid-area: atuan; }
.dragons { grid-area: dragons; }
.the-hands { grid-area: the-hands; }

.book img {
    width: 200px;
}

.book {
    display: inline-block;
}

#nav {
    display: flex;
}

h1 {
    border-left: 3px solid #64755f;
    margin: 0 0 0 15px;
    text-align: center;
    height: 90%;
    padding: 25px 10px;
}

.section {
    border-left: 3px solid #64755f;
    padding: 10px 10px;
    margin-top: 20px;
}

h2 {
    margin-top: 0px;
}